body{
    color : red ;
}

.name {
    font-size: 3rem;
}

.description {
    font-size: 2rem;
}

@media (max-width: 500px){

    body{
        color : blue ;
    }

}
@media (orientation : landscape) and (min-width: 500px)
{
    .name
    {
        color : green;
    }
}

@media (orientation : portrait)
{
    .description
    {
        color : cyan;
    }
}
